@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans' sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1da1f2;
}

::selection{
    color: #fff;
    background: #1da1f2;
}

.wrapper {
    background: #fff;
    max-width: 475px;
    width: 100%;
    border-radius: 15px;
    padding: 25px 25px 15px 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
}

.input-box {
    position: relative;
    min-height: 130px;
    max-width: 170px;
    overflow-y: auto;
}

.tweet-area::-webkit-scrollbar {
    width: 0;
}

.tweet-area .placeholder {
    position: absolute;
    margin-top: -3px;
    font-size: 22px;
    color: #98A5B1;
    pointer-events: none;
}

.tweet-area .input {
    outline: none;
    font-size: 17px;
    min-height: inherit;
    word-wrap: break-word;
    word-break: break-all;
}

.tweet-area .editable {
    position: relative;
    z-index: 5;
}

.tweet-area .readonly {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color : transparent;
    background: transparent;
}